<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="styles/globalsindex.css" />
    <link rel="stylesheet" type="text/css" href="styles/styleindex.css" />
    <script src="js/script.js" defer></script>
    <title>Cambalache Technologies</title>
    <link rel="icon" href="img/favicon.png" type="image/png">
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-KVQD6PVNXQ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-KVQD6PVNXQ');
</script>
  </head>
  <body>
    <slot />
  </body>
</html>
